.quote {
    font-size: 1em;
}

body {}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body,
html {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    height: 56px;
    background-color: #121212;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;

}

.header .logo {
    height: 45px;
    position: absolute;
    left: 0.5em;
    padding-top: 6px;
}

.header .menu {
    height: 48px;
    position: absolute;
    right: 0.5em;
}

.banner {
    margin-top: 60px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    text-align: center;
    background-color: black;
    z-index: 10000;
    padding-bottom: 10px;
    height: 150px;

}

.card-container {
    margin-top: 56px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 56px);
    padding-top: 48px;
}

#shuffle-container {
    width:80vw;
    margin-left: 10vw;
    margin-top: 190px;

}
.card-wrapper {
padding-left: 10px;
padding-right: 10px;

}
.external {
    display:none;
}
.card {
    color: white;
    width: 250px;
    background-color: rgb(41, 41, 41);
    margin: 2em;
    padding: 1em;
    position: relative;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 550px;
}

h3 {
    color: white;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: relative;
}

h3.heading {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 24px;
    margin-top: 40px;
}
.btn-group.sort-options {
    margin-top: 30px;
}

input[type="radio"] {
    display: none;
}

 label {
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    border: 1px solid white;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
 }

 label.active {
    background-color: #f5c518;
    color: black;
    font-weight: bold;
 }
.heading:before {

    background: #f5c518;
    border-radius: 4px;
    content: "";
    margin-left: -.75rem;
    position: absolute;
    height: 24px;
    width: 4px;
}

h4 {
    font-size: 16px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.7);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding-top: 8px;
    height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

.card img {

    width: 250px;
}

.card h3 {}

.card .summary {
    display: none;
}

.card .notes {
    margin-top: 0.5em;
    opacity: 0.8;
    font-size: 0.65em;
    margin-bottom: 0.5em;
}

.card .date {
    font-size: 0.65em;
    margin-bottom: 1em;
}

.card .rating {
    line-height: 1;
    font-size: 0.75em;
    float: right;
    padding-top: 0.15em;
}

.card .ratings {
    padding: 10px 5px;
}

.card .icon {
    width: 15px;
    float: right;
    margin-right: 0.25em;
    margin-left: 0.45em;
}

.ipc-title-link {
    font-size: .8em;
    margin-left: .5em;
    align-self: center;
    transition: color .15s, opacity .15s, transform .15s;
    flex-shrink: 0;
}

.ipc-icon--inline {
    height: 1em;
    vertical-align: baseline;
    width: 1em;
}

body {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.5s;
}